@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    width: 100%;
    height: 100%;
  }

  ol,
  ul,
  li {
    list-style: none;
  }
}
@layer components {
  .full-screen {
    @apply flex min-h-screen w-full flex-col justify-center;
  }
}
.button {
  text-align: center;
  font-size: 10px;
  width: fit-content;
  height: fit-content;
  color: black;
}
.background {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/images/bg3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 8%;
  padding-right: 8%;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 50;
  inset: 0;
  margin: 0 auto;
}
.glassframe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0.25rem;
  margin: 0 auto;
  transform: scale(1);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
}
.glassbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  /* transform: scale(1); */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 5px 10px 0 rgba(132, 133, 148, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 8px;
  --tw-text-opacity: 1;
  color: rgb(47 47 47 / var(--tw-text-opacity));
}
.glassbuttonSelected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  /* transform: scale(1); */
  background: rgba(31, 38, 135, 0.595);
  box-shadow: 0 5px 10px 0 rgba(132, 133, 148, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 8px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.container {
  display: flex;
  width: 90%;
  background: #123232;
  padding: 16px;
  margin: auto;
  gap: 8px;
  /* overflow: scroll; */
}
.glassinput {
  display: flex;
  position: relative;
  /* flex-basis: 30rem; */
  width: 80%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  /* transform: scale(1); */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 5px 10px 0 rgba(132, 133, 148, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 8px;
}
.statusbox {
  display: flex;
  flex-direction: row;
  /* width: max-content; */
  place-content: center;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}
.questionBox {
  width: 80%;
  height: 100%;
  max-width: 500px;
  /* max-height: 200px; */
  word-break: break-all;
  text-align: justify;
  padding: 5px;
  margin: 0 auto;
}
.progress {
  appearance: none;
  flex: 1;
}
::-webkit-progress-bar {
  background: #ffffff;
  border-radius: 8px;
  width: 22vw;
  box-shadow: inset 3px 3px 10px #ccc;
  overflow: hidden;
}
::-webkit-progress-value {
  border-radius: 8px;
  background: #002a71;
  background: -webkit-linear-gradient(to right, #78a3eb, #002a71);
  background: linear-gradient(to right, #78a3eb, #002a71);
}
.timerText {
  color: #d82ba7;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size: 3rem;
  line-height: 0.3;
  font-weight: 900;
  margin: 2rem;
}
