@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ol,
  ul,
  li {
    list-style: none;
  }
}

@layer components {
  .full-screen {
    @apply flex min-h-screen w-full flex-col justify-center;
  }
}
.button {
  text-align: center;
  font-size: 10px;
  width: fit-content;
  height: fit-content;
  color: black;
}
